In [10]:
import pandas as pd
import numpy as np

In [11]:
# import the datasets
age_df = pd.read_csv("age_over_time_poststratified_ageg_sy_2022-11-09_to_2023-01-03.csv")
region_df = pd.read_csv("prev_time_series_mrp_20230103.csv")

In [19]:
# Analysing the age dataset
age_df.head()

    model_variable study_date  L95_p  U95_p  median_p
134        12SY-24 2022-01-12      0      0         0
22          02-6SY 2022-01-12      0      0         0
414            All 2022-01-12      0      0         0
78       07SY-11SY 2022-01-12      0      0         0
246          35-49 2022-01-12      0      0         0

In [13]:
# Clean up the data
age_df = age_df[["model_variable", "study_date", "L95_p", "U95_p", "median_p"]]
age_df["study_date"] = pd.to_datetime(age_df["study_date"])
age_df.sort_values(by=["study_date"], inplace=True)
age_df.head()

    model_variable study_date  L95_p  U95_p  median_p
134        12SY-24 2022-01-12      0      0         0
22          02-6SY 2022-01-12      0      0         0
414            All 2022-01-12      0      0         0
78       07SY-11SY 2022-01-12      0      0         0
246          35-49 2022-01-12      0      0         0

In [ ]:
# Dataset slice for one of the model_variable
age_df["median_p"].loc[age_df["model_variable"] == "All"]

In [15]:
def walk(n: int, mu: float, sigma: float) -> np.ndarray:
    walk = [np.random.normal(loc=mu, scale=sigma)]

    for i in range(n-1):
        walk.append(walk[-1]+np.random.choice(a=[-1,0,1])*np.random.normal(loc=mu, scale=sigma))

    walk = np.absolute(walk/np.linalg.norm(walk))
    
    return walk

In [ ]:
def synth_column(df: pd.DataFrame, by_column: str, on_column: str, mu: float, sigma = float) -> pd.DataFrame:

    for value in by_column.values():
        df[]

In [34]:
np.unique(region_df[["region", "country", "variant"]].values, axis=0)

TypeError: The axis argument to unique is not supported for dtype object

In [36]:
region_df[["region", "country", "variant"]].v

array([['Northern Ireland', 'Northern Ireland', 'ctall'],
       ['Northern Ireland', 'Northern Ireland', 'ctall'],
       ['Northern Ireland', 'Northern Ireland', 'ctall'],
       ...,
       ['North East', 'England', 'ctnot4not7'],
       ['North East', 'England', 'ctnot4not7'],
       ['North East', 'England', 'ctnot4not7']], dtype=object)